* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1024px;
}

.hidden {
    display: none;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin: 30px auto;
    min-width: 100px;
    padding: 15px;
    box-sizing: border-box;
    height: 30px;
    cursor: pointer;
    background-color: azure;

}

.start:hover {
    background-color: aquamarine;
}

.programm {
    border: 1px solid black;
    max-height: 350px;
}